@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* src/app/globals.css */

/* globals.css */
html, body, #__next {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #000017; /* Make sure the background color covers the whole body */
}

/* Apply the font settings globally */
body {
  font-family: var(--font-dm-sans), sans-serif;
}

.ant-checkbox-checked-custom .ant-checkbox-inner {
  background-color: #000017 !important;
  border-color: #00DEFF !important;
}

.ant-checkbox-checked-custom .ant-checkbox-inner::after {
  border-color: #00DEFF !important;
}

.ant-checkbox-custom .ant-checkbox-inner {
  background-color: #000017 !important;
  border-color: #00DEFF !important;
}

.link-hover-effect {
  color: #00DEFF;
  transition: color 0.3s;
}

.link-hover-effect:hover {
  color: #2E62FF;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px; /* Increase padding to move the navbar down */
  z-index: 20;
}
